@font-face {
  font-family: Microsoft YaHei;
  src: url(/fonts/chinese.msyh.ttf);
}
body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-size-adjust: 100%;
  font-size: 0.8rem;
}
/*---------------------------------------------MODAL --------------------------------------------------------------------*/

body.open-modal {
  overflow: hidden;
}

#modal {
  height: 34rem;
  width: 28rem;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-family: "Microsoft YaHei";
  transition: 0.3s all ease;

 
}
#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  transition: 0.3s all ease;
  
}

.modal__btnClose {
  margin: 1rem 1rem 0 auto;
  height: 1rem;
}

.modal__logo {
  width: 11rem;
  margin: 0 auto 1.7rem;
}

.modal > h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
.modal__form,
.modal__links,
.modal__lin {
  width: 85%;
  align-items: center;
}
.modal__form {
  margin: 1rem auto 0 auto;
}
.modal input,
.modal button {
  margin: 1.5rem auto 0 auto;
  border: 1px rgb(211, 210, 210) solid;
  background-color: #f9fafc;
  border-radius: 7px;
  width: 100%;
  height: 3rem;
}

.modal ::placeholder {
  color: #cccbc7;
  padding-left: 1rem;
}

.modal button {
  background-color: #e4e5eb;
  margin-top: 2.5rem;
  color: #bebfc4;
  height: 2.5rem;
}

.modal__btnClose:hover svg {
  background-color: #e4e5eb;
  transition: 0.15s all ease-in;
  border-radius: 5px;
}

.modal__links {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
  color: #d3bc8e;
  font-size: 0.9rem;
}

.modal__lin {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 2rem auto 0 auto;
}
.modal p {
  font-size: 0.75rem;
  color: #babbc2;
  font-weight: 400;
}

.modal__lin--line {
  width: 5rem;
  height: 1px;
  background-color: #dadce2;
  margin: auto;
}

.modal__social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem;
}

.modal__social img {
  width: 2.5rem;
}

/*------------------------------------------------------ HEADER----------------------------------------------------------*/
header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 4.1rem;
  font-size: 0.9rem;
  line-height: 4.1rem;
  width: 100vw;
  position: fixed;
  z-index: 1;
  color: #ccc;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  user-select: none;
}
.header__box,
header {
  display: flex;
  justify-content: space-between;
}
.header__box {
  flex-grow: 1;
}
.header__logo {
  height: 3.8rem;
  width: auto;
  margin: 0 2.2rem auto 7.8rem;
}

.header__logo img {
  height: 100%;
  width: 100%;
}

.header__nav {
  width: 40rem;

  align-items: center;
}

.header__nav > ul {
  display: flex;
}
.header__nav li {
  height: 4.2rem;
  width: 100%;

  display: grid;
  align-items: center;
}
.header__nav a {
  margin: auto 1rem;
  white-space: nowrap;
}
.header__nav > ul > li {
  position: relative;
}

.header__nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__download {
  background-color: #fccc0c;
  width: 13.6rem;
  height: 100%;
}

.header__download a {
  filter: blur(0.5px);
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header__sesion {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.header__sesion svg {
  margin: auto 1.2rem;
}
.header__sesion h2 {
  white-space: nowrap;
  margin: auto;
}
.header__responsive,
.header__logoresponsive img {
  display: none;
}

.header__nav a:hover {
  text-shadow: 1px 1px 18px rgba(105, 224, 255, 1),
    1px 1px 18px rgba(105, 224, 255, 1), 1px 1px 18px rgba(105, 224, 255, 1);
  color: #fff;
  transition: 0.3s ease;
}
.header__sesion:hover h2,
.header__sesion:hover svg {
  color: white;
  fill: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
/*------------------------------------------------------ BLOQUE 1 ----------------------------------------------------------*/
.block1 {
  user-select: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.block1__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.block1__video video {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.block1__playvideo {
  width: auto;
  display: grid;
  position: relative;
}
.block1__playvideo--svgbg {
  background-color: #fff;
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  bottom: 0.9rem;
  left: 43.5%;
  cursor: pointer;
}
.block1__playvideo--svgbg svg {
  bottom: 1.2rem;
  width: 1.6rem;
  margin-left: 0.38rem;
}
.block1 p {
  font-size: 1.85rem;
  margin: 2.6rem auto 2.2rem auto;
  text-shadow: 0px 0px 8px rgba(114, 71, 21, 0.68),
    0px 0px 8px rgba(114, 71, 21, 0.68);
}
.block1__gamedownloads {
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.3rem;
}

.block1__gamedownloads a {
  margin: auto 0.5rem;
}

.block1__gamedownloads img {
  width: 11.7rem;
  opacity: 0.82;
}

.block1__imgrate {
  position: absolute;
  width: 12.5rem;
  height: auto;
  left: 0;
  bottom: 0;
  margin: auto auto 0.65rem 0.65rem;
}
.block1__download {
  display: none;
  width: 16rem;
  height: 4.5rem;
  background-color: #fccc0c;
  display: none;
  margin: 1rem auto 1rem auto;
  border-radius: 5px;
}

.block1__download a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #815a34;
  font-weight: 600;
}

.block1__arrows {
  display: grid;
  height: 5rem;
}

.block__arrows--arrow1 {
  transform: translateY(0.8rem);
  animation-delay: 0.2s;
}

.block__arrows--arrow2 {
  transform: translateY(-0.4rem);
  animation-delay: 0.4s;
}

.block__arrows--arrow3 {
  transform: translateY(-1.6rem);
  animation-delay: 0.6s;
}

.block__arrows--arrow1,
.block__arrows--arrow2,
.block__arrows--arrow3 {
  animation: blink 3s infinite;
  transition: all 0.2s ease;
  fill: white;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------- HOVERS BLOQUE 1---------------------------*/

.block1__playvideo--svgbg:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s all ease;
  fill: #fff;
}

.block1__playvideo--svgbg:hover svg g {
  fill: white;
  transition: 0.2s all ease;
}
/*------------------------------------------------------ BLOQUE 2 ----------------------------------------------------------*/
.block2 {
  background-color: rgb(109, 109, 109);
  margin-top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/images/wallpaper-block2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.block2__banner {
  display: flex;
  margin: 12rem auto 4.5rem auto;

  width: 80%;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
.block2__banner img {
  width: 20%;
  height: 1rem;
}

.block2___banner :last-child {
  transform: ;
}
.block2__banner h3 {
  margin: 0 2rem;
  font-size: 3.1rem;
}

/*------------------------------------------------------ BLOQUE 3 ----------------------------------------------------------*/
.block3 {
  display: flex;
  flex-direction: column;
}
.block3__city,
.block3__next-map {
  background-position: center;
  background-size: auto 100%;
  height: 16.3rem;
}
.block3__city {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  transition: 0.5s all ease;
}

.block3__city--text {
  justify-content: flex-end;
  flex-basis: 55%;
}

.block3__city--subtext {
  display: flex;
  justify-content: flex-end;
}
.block3__city--text p {
  background-image: url(/images/icon.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: 12rem;
  height: 12rem;
  display: grid;
  place-items: center;
  font-size: 2.3rem;
  text-align: center;
  position: relative;
}

.block3__city--subtext p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(/images/barra.webp);
  background-position: center top 68%;
  background-repeat: no-repeat;
  opacity: 0;
}

.block3__divimg {
  flex-basis: 45%;
  display: flex;
  justify-content: flex-start;
}

.block3__divimg img {
  margin-left: 4rem;
  opacity: 0;
  transition: 0.5s all ease;
  width: auto;
  height: auto;
}

.block3__next-map {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  color: #5e5d5d;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.block3__banner {
  height: 3.2rem;
  background-color: #111;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.block3__banner svg {
  fill: #5e5d5d;
}

/*----------------------------HOVER BLOCK3---------------------------------------*/

.block3__city:hover {
  box-shadow: inset 0 0 0 6px white;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-size: auto 110%;
  transition: 0.5s all ease;
}
.block3__city:hover .block3__divimg img {
  opacity: 1;
  scale: 0.959;
  transition: 0.5s all ease;
}

.block3__city:hover .block3__city--subtext p::after {
  opacity: 1;
  transition: 0.5s;
}

.block3__banner svg:hover {
  fill: white;
}
/*------------------------------------------------------ FOOTER ----------------------------------------------------------*/

footer {
  background-color: #000;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: #999;
  text-align: center;
}

.footer__logo {
  width: 7rem;
  height: auto;
  margin-top: 3rem;
}

.footer__links {
  display: flex;
  gap: 2rem;
  margin: 2rem auto;
}

.footer__rate {
  width: 12.5rem;
  margin-bottom: 1rem;
}

.footer__hoyoverse {
  width: 20rem;
  height: auto;
  margin: 1rem auto;
}
footer > p {
  margin: auto 2rem=;
}
footer > p:last-child {
  color: white;
  margin-bottom: 1rem;
}
/*------------------------------------------------------ HOVER FOOTER ----------------------------------------------------------*/

footer a:hover {
  color: white;
}

/* -------------------------------------MEDIA------------------------------------------------------*/

/*------------------------------- >2kpx media ---------------------------*/
@media (width > 1920px) {
  .block3__city {
    background-size: 110% 110%;
  }

  .block3__city:hover {
    background-size: 120% 120%;
  }
}
.block3__city--text {
  justify-content: flex-end;
}
/*------------------------------- 1550px media ---------------------------*/
@media (width < 1550px) {
  .header__logo {
    margin-left: 2rem;
  }

  .block1__imgrate {
    width: 10rem;
  }
}
/*------------------------------- 1350px media ---------------------------*/
@media (width < 1350px) {
  .header__box,
  .block1__imgrate {
    display: none;
  }
  .header__responsive {
    display: block;
    width: 6rem;
    display: flex;
    justify-content: center;
    fill: white;
  }
  .header__download {
    margin: auto 0 auto auto;
  }

  .block2__container {
    width: 56rem;
    height: 17.5rem;
  }
}
/*------------------------------- 1280px media ---------------------------*/
@media (max-width: 1280px) {
  .block3__city:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: auto 100%;
    transition: none;
    background-blend-mode: multiply;
  }

  .block3__divimg {
    display: none;
  }
  .block3__city:hover .block3__city--subtext p::after {
    display: none;
  }
  .block3__city--text {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

/*------------------------------- 950px media ---------------------------*/
@media (width < 950px) {
  .header__download,
  .block1__gamedownloads,
  .block1 p,
  .header__logo {
    display: none;
  }

  header {
    height: 20rem;
    width: 100vw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .header__logoresponsive {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    flex-basis: 80%;
  }

  .header__logoresponsive img {
    display: block;
    width: auto;
    height: 6rem;
    filter: drop-shadow(0px 0px 1px #000);
  }

  .header__responsive {
    order: 1;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    margin: auto 2rem auto auto;
  }

  .header__responsive svg {
    width: 2.5rem;
    filter: drop-shadow(0px 0px 0.3px #000);
    fill: white;
  }

  .block1__download {
    display: block;
    margin: 1rem auto;
  }

  .block1__playvideo {
    margin: 0.5rem auto;
  }

  .block1__video {
    width: 100%;
    overflow: hidden;
  }

  .block1__video video {
    object-position: 33% center;
  }
  .block2__container {
    width: 27rem;
    height: 60rem;
  }

  .block2__banner {
    margin: 3rem auto;
  }
  .block2__banner h3 {
    font-size: 2rem;
  }
  .block3__city {
    height: 50%;
  }

  /*------------------------------- 400px media ---------------------------*/
  @media (width < 400px) {
    .header__logoresponsive img {
      width: 60%;
      height: auto;
    }

    .header__responsive {
      width: 60%;
    }

    .header__responsive svg {
      width: 1.5rem;
    }

    .block1__download {
      width: 10rem;
      height: 3rem;
    }
    .block1__download a {
      font-size: 0.8rem;
    }

    .block1__playvideo {
      width: 100%;
    }

    .block1__playvideo--svgbg {
      height: 2em;
      width: 2em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .block1__playvideo img {
      width: 15rem;
      margin: auto;
    }

    .block1__playvideo svg {
      width: 50%;
    }
  }
}
