body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-size-adjust: 100%;
  font-size: 0.8rem;
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 4.1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;

  line-height: 4.1rem;
  width: 100vw;
  position: fixed;
  z-index: 1;
  color: #ccc;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  user-select: none;
}
.box1,
.box2 {
  display: flex;
}
.header__logo {
  height: 3.8rem;
  margin: 0 2.2rem auto 7.8rem;
}

.header__nav {
  width: 40rem;
  align-items: center;
}

.header__nav > ul {
  display: flex;
}
.header__nav li {
  height: 4.2rem;
  width: 100%;

  display: grid;
  align-items: center;
}
.header__nav a {
  margin: auto 1rem;
  white-space: nowrap;
}
.header__nav > ul > li {
  position: relative;
}

.header__nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__download {
  background-color: #fccc0c;
  width: 13.6rem;
  height: 100%;
}

.header__download a {
  filter: blur(0.5px);
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  text-align: center;
}

.header__sesion {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sesion svg {
  margin: auto 1.2rem;
}
.header__sesion h2 {
  white-space: nowrap;
  margin: auto;
}

#block1__video {
  position: absolute;

  bottom: -4rem;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #block1__video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #block1__video {
    width: auto;
    height: 100%;
  }
}

.block1 {
    user-select: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.block1__playvideo {
  width: auto;
  display: grid;
  position: relative;

}
.block1__playvideo--svgbg{
    background-color: #fff;
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    bottom: 0.9rem;
    left: 43.5%;
    cursor: pointer;
}
.block1__playvideo--svgbg svg{
    
    bottom:1.2rem;
    width: 1.6rem;
    margin-left: 0.38rem;
}
.block1 p {
  font-size: 1.85rem;
  margin: 2.6rem auto 2.2rem auto;
  text-shadow: 0px 0px 8px rgba(114,71,21,0.68),  0px 0px 8px rgba(114,71,21,0.68);
 


}
.block1__gamedownloads {
  width: 80rem;
  height: 4rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 1.3rem ;
}

.block1__gamedownloads a {

  margin: auto  0.5rem;
}

.block1__gamedownloads img{
    width: 11.7rem;
    opacity: 0.82;
}
.block1__arrows {
  background-color: aqua;
  display: grid;
  width: 3rem;
  height: 3rem;
  margin: 1rem auto;
}

.block1__imgrate{
    position: absolute;
    width: 12.5rem;
    height: auto;
    left: 0;
    bottom: 0;
    margin: auto auto 0.5rem 0.5rem;
}
.block2 {
  background-color: rgb(36, 228, 218);
  margin-top: 0;
  height: 100vh;

  }